/* global */

body {
  background: #EEEEEE;
  border: 0 none;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  font-size: 12px;
  line-height: 1;
  overflow-y: scroll;
}

#cells {
  margin: 0 auto;
  position: relative;
}

#loader {
  margin: 0 auto;
  text-align: center;
}

#loader span {
  display: inline-block;
  height: 36px;
  line-height: 36px;
  padding: 0 0 0 18px;
  font-weight: bold;
  text-transform: uppercase;
}

/* cell */

.cell {
  background: #fff;
  border: 1px solid #ddd;
  padding: 6px;
  width: 190px;
  position: absolute;
}

.cell:hover {
  box-shadow: 0 0 10px #aaa;
}

.pending {
  opacity: 0;
  -webkit-transform: translateY(50px);
  -moz-transform: translateY(50px);
  -o-transform: translateY(50px);
  transform: translateY(50px);
}

.ready {
  -webkit-transition: opacity 1s ease-in-out, box-shadow 300ms ease-in-out, left 700ms ease-in-out, top 700ms ease-in-out, -webkit-transform 700ms ease-in-out;
  -moz-transition: opacity 1s ease-in-out, box-shadow 300ms ease-in-out, left 700ms ease-in-out, top 700ms ease-in-out, -moz-transform 700ms ease-in-out;
  -o-transition: opacity 1s ease-in-out, box-shadow 300ms ease-in-out, left 700ms ease-in-out, top 700ms ease-in-out, -o-transform 700ms ease-in-out;
  transition: opacity 1s ease-in-out, box-shadow 300ms ease-in-out, left 700ms ease-in-out, top 700ms ease-in-out, transform 700ms ease-in-out;
}

.shadow {
  visibility: hidden;
}

.cell img {
  display: block;
  vertical-align: bottom;
  border: 0 none;
}

.cell a {
  color: #666;
  text-decoration: none;
}

.cell a:hover {
  color: #f3c;
}
